/* CSS Document */
* {
    box-sizing: border-box;
}

/*Стиль для скрытия редактирования панели*/
div#bx-panel {
    position: absolute!important;
    width: 100%!important;
    top: 0;
}

html, body {
    font-family: Inter, Helvetica, Arial, sans-serif;
    touch-action: manipulation;
    width: 100%;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(180deg, #E5E5E5 0%, #FFFFFF 89.58%) no-repeat fixed;
}

main {
    padding-left: 230px;
    padding-top: 90px;
}
.header {
    /*margin-top: 39px;*/
    height: 70px;
    background-color: #333333;
    padding: 0 40px 0 334px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.header.fixed {
    top: -70px;
    animation-name: fix;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 1;
}

@keyframes fix {
    from {top: -70px}
    to {top: 0}
}

.catalog-button {
    height: 38px;
    background-color: #E0E0E0;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 188px;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    color: black;
}


.sidebar {
    /*padding-top: 39px;*/
    position: fixed;
    height: 100%;
    width: 230px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #333333;
}

.logo-container {
    height: 40px;
    width: 160px;
    background: center/contain no-repeat url("/src/figma-images/logo.svg");
    display: block;
    margin: 15px auto
}

.personal-preview {
    background-color: #4F4F4F;
    min-height: 80px;
    position: relative;
    padding: 0 10px 0px 0;
    box-sizing: content-box;
}

.personal-preview .exit {
    display: block;
    background: center/contain no-repeat url("/src/figma-images/exit.svg");
    position: absolute;
    top: 10px;
    right: 15px;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.personal-preview__portrait {
    float: left;
}

.personal-preview__name {
    color: white;
    padding: 10px 50px 0 90px;
    word-spacing: 1000px;
    font-size: 14px;
}

.personal-preview__company {
    color:#C2C9D1;
    font-size: 12px;
    padding: 10px 0 10px 90px;
}

.manager-block {
    padding-left: 30px;
    color: white;
}

.sidebar__arrow{
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: center/contain no-repeat url("/src/figma-images/arrow.svg");
    right: 20px;
    bottom: 15px;
}

.sidebar__menu-item--active .sidebar__arrow {
    transform: rotate(-90deg);
}
.manager-block__snippet {
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

.manager-block__portrait {
    border-radius: 50%;
}

.manager-block__name {
    word-spacing: 10000px;
}

.section {
    margin: 70px 117px 109px 35px;
}

.section h1{
    font-size: 26px;
}

.b2b-block {
    background-color: #FFFFFF;
    padding: 27px 50px 50px 27px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.b2b-block__title {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    font-weight: normal;
}

.b2b-main-columns {
    display:flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
    gap: 20px;
}

.b2b-main-columns > *{
    flex-grow: 2;
}

.orders-list {
    min-width: 500px;
}

.orders-list table {
    width:100%;
    margin-top: 29px;
}

.orders-list table th{
    background-color: #333333;
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

.orders-list td {
    text-align: center;
}

.video-wrapper {
    width: 500px;
    height: 250px;
    background-color: #BDBDBD;
    margin-top: 29px;
}